<md-toolbar>
    Socially Angular2 Meteor
    <button md-button aria-label="Home" [routerLink]="['Home']">
        Home
    </button>
    <button md-button aria-label="Post" [routerLink]="['Post']">
        Post
    </button>
    <button md-button aria-label="About" [routerLink]="['About']">
        About
    </button>
    <span flex></span>
    <button *ngIf="idUser === null" md-button aria-label="Register" [routerLink]="['Register']">
        Register
    </button>
    <button *ngIf="idUser === null" md-button aria-label="Login" [routerLink]="['Login']">
        Login
    </button>
    <button *ngIf="idUser !== null" md-button aria-label="Logout" (click)="logout()">
        Logout
    </button>
</md-toolbar>

<router-outlet flex-gt-sm layout-gt-sm="row"></router-outlet>
