<div class="container padding-template">
    <div class="row">
        <div class="col-md-8">

            <input type="text" class="form-control" [(ngModel)]="inputPost" (keydown.enter)="sendPost(inputPost)" placeholder="Type a Status"/>
            <p></p>

            <div class="card" *ngFor="let p of posts">
                <div class="card-block">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">
                        <small class="text-muted">{{p.dateTime | amTimeAgo}}</small>
                    </p>
                    <p class="card-text">{{p.status}}</p>
                    <button (click)="sendLike(p._id, p.likes, p.name)" class="btn btn-link card-link">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        {{p.likes.length}}
                        Like
                    </button>
                    <button (click)="newComment(p)" class="btn btn-link card-link" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        {{p.comments.length}}
                        Comment
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li *ngFor="let t of timelines" [ngClass]="t.status === 'post' ? 'list-group-item list-group-item-success' : t.status === 'comment' ? 'list-group-item list-group-item-info' : 'list-group-item'">
                  {{t.message}} {{t.timeDate | amTimeAgo}}
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Comment</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item" *ngFor="let c of comments">
                            <h4 class="list-group-item-heading">{{c.name}}</h4>
                            <p class="list-group-item-text">{{c.comment}}</p>
                        </a>
                    </div>
                    <p></p>
                    <input type="text" class="form-control" [(ngModel)]="inputComment" (keydown.enter)="sendComment(inputComment)" placeholder="Type a comment"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
